@using GradeType = MvcDnevnik.Models.GradeType;
@*

    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

<h1>Students list goes here</h1>


@{
    ViewData["Title"] = "Index";
    
}
<head>
    <style>
        .gradebutton{
            font-size: 27px;
            color: white;
            border-width: 0px;
            
        }

    </style>
</head>
<body>
<div class="text-center">
   
    <h1 class="display-4">Оценки</h1>

    <table class="table table-bordered table-hover table-striped" id="tableGrades">
        <thead>
            <tr class="tableHeadersFooters">
                <th rowspan="2" class="thinTableColumn">№</th>
                
                <th colspan="2" class="solid-left-border term1   clickable_grade_cell">
                    <a href="#" id="hideTerm1" title="Скрий първи срок" class="hideGradeBtn">
                        <i class="far fa-minus-square"></i>
                    </a>
                    <span>Първи срок</span>
                </th>
                <th colspan="2" class="solid-left-border term2   clickable_grade_cell">
                    <a href="#" id="hideTerm2" title="Скрий втори срок" class="hideGradeBtn">
                        <i class="far fa-minus-square"></i>
                    </a>
                    <span>Втори срок</span>
                </th>
                <th rowspan="2" class="thinTableColumn annualAssessment emptyExpandColumn solid-left-border"
                    style="min-width: 2%;">
                    <a title="localization.Godishni_otsenki" class="showGradeBtn"><span>Годишна</span></a>
                </th>
            </tr>
            <tr class="tableHeadersFooters">
                <th class="subheading solid-left-border term1">Текущи</th>
                <th class="subheading thinTableColumn term1">Срочна</th>
                <th class="subheading solid-left-border term2">Текущи</th>
                <th class="subheading thinTableColumn term2">Срочна</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
               
                    
                <tr>
                    <td>
                            @item.Student.Name <a asp-action="Create" asp-route-Stu=@item.Student.ID asp-route-Sub="@ViewData["SubjectID"]">+</a><a asp-action="Complaint" asp-route-Stu=@item.Student.ID asp-route-Sub="@ViewData["SubjectID"]"> Complain</a>
                        

                    </td>
                    
                    <td>
                        @foreach( var g in item.Grades)
                        {
                                if (g.Type == GradeType.CURRENT && g.IsFirstSemester)
                            {
                                    <button class="btn small yellow-casablanca grade"> @g.Value</button>
                            }
                        }

                    </td>
                    <td>
                            @foreach (var g in item.Grades)
                            {
                                if (g.Type == GradeType.SEMESTER_ONE)
                                {
                                    <button class="btn small yellow-casablanca grade"> @g.Value</button>
                                }
                            }
                    </td>
                        <td>
                            @foreach (var g in item.Grades)
                            {
                                if (g.Type == GradeType.CURRENT && !g.IsFirstSemester)
                                {
                                    <button class="btn small yellow-casablanca grade"> @g.Value</button>
                                }
                            }

                        </td>
                        <td>
                            @foreach (var g in item.Grades)
                            {
                                if (g.Type == GradeType.SEMESTER_TWO)
                                {
                                    <button class="btn small yellow-casablanca grade"> @g.Value</button>
                                }
                            }
                        </td>
                        <td>
                            @foreach (var g in item.Grades)
							{
								if (g.Type == GradeType.YEAR)
								{
									<button class="btn small yellow-casablanca grade"> @g.Value</button>
								}
							}
                        </td>

                </tr>



            }
            

        </tbody>
    </table>

    </div>
</body>






